.stscreds
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
**/.terraform
**/terraform.tfstate.backup
**/node_modules
node_modules
.npmrc
aws-lambda-rie-x86_64
aws-lambda-rie
package-lock.json
serverless.yml
